           <tr> <td><a href="<%=@url%>/<%=role%>/<%= deal[:seller][:id] %>"><%= deal[:seller][:name]  %></td><td><%=link_to(@url+"/deal/#{deal[:id]}", deal[:subject])%></td><td><%=deal[:date]%></td><td><%=deal[:volume] %></td></tr>
